#name
{
background-color:#224957;
height:45px;
width:300px;
border-radius:10px;
margin-left: 100px;
margin-top: 50px;
color: white;
display: block;
}

#schedule
{
background-color:#224957;
height:45px;
width:300px;
border-radius:10px;
margin-left: 100px;
margin-top: 25px;
color: white;
display: block;
}

#location
{
background-color:#224957;
height:45px;
width:300px;
border-radius:10px;
margin-left: 100px;
margin-top: 25px;
color: white;
display: block;
}

#description
{
background-color:#224957;
height:200px;
width:1000px;
border-radius:10px;
margin-left: 100px;
margin-top: 25px;
margin-bottom: 0px;
color: white;
display: block;
}

#edit_btn{
    background-color:#20DF7F !important;
    border: #20df7f 2px solid;
    border-radius: 25px;
    width:50%;
    margin-top: 2%;
    margin-left: 25%;
    text-align: center;
    color: white;
}

#category_btn{
    /* background-color:#20DF7F; */
    /* border: #20df7f 2px solid; */
    border-radius: 25px;
    width: 35%;
    margin-top: 40px;
    margin-left: 40%;
    text-align: center;
    /* color: #20DF7F ; */
    /* text-decoration: #20DF7F; */
    position: relative;
    resize: none;
}

.column {
    float: left;
    width: 50%;
    /* padding: 10px; */
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.border-box{
   box-sizing: border-box;
}

.productsButton {
    background-color:#20DF7F !important;
    border: #20df7f 2px solid;
    border-radius: 25px;
    color: white;
    width: 35%;
    margin-top: 35px;
    margin-left: 40%;
    text-align: center;
}

.select-products{
    width: 100px;
    height: 25px;
    background-color:#20DF7F !important;
    border: #20df7f 2px solid;
    border-radius: 25px;
    color: white;
    width: 35%;
    margin-top: 35px;
    margin-left: 40%;
    text-align: center;
}